<div layout="column" flex="" layout-padding layout-align="center center">
    <div layout-gt-xs="row">
        <div flex-gt-xs="25">
        </div>
        <div flex-gt-xs="">
            <div ng-repeat="item in vm.sources">
                <md-card class="md-whiteframe-6dp">
                    <md-card-header md-colors="::{backgroundColor: 'default-primary-500'}">
                        <md-card-header-text layout="row" layout-align="center center">
                            {{ item.title | uppercase }}
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="{{ item.imageUrl }}" class="md-card-image">
                    <md-card-content layout="row" layout-align="center center">
                        <p>{{ item.description }}</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button class="md-primary" ng-href="{{ item.fileUrl }}" target="_blank">View</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div flex-gt-xs="25">
        </div>
    </div>
</div>